* {
  box-sizing: border-box;
}

body {
  /* a nice font that uses a user's built in font */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: #333;
  margin: 0;
  padding: 60px;
  background-color: #111111;
  display: flex;
  align-items: center;

  justify-content: space-evenly;
}
.game {
  margin-right: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.brand {
  font-size: 45px;
  color: rgb(195, 191, 191);
  font-family: honk;
  text-align: center;
  margin: 15px 15px;
}

.scoreboard {
  max-width: 295px;
  width: 100%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 5px;
}

.scoreboard-letter {
  height: 45px;
  width: 45px;
  font-size: 30px;
  text-transform: uppercase;
  border: 3px solid rgb(195, 191, 191);
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.correct {
  background-color: darkgreen;
  color: white;
}

.close {
  background-color: goldenrod;
  color: white;
}

.wrong {
  background-color: maroon;
  color: white;
}

.invalid {
  animation: flash 1s;
}

/* flashes red border and then fades back to gray */
@keyframes flash {
  5% {
    border-color: crimson;
  }

  100% {
    border-color: #ccc;
  }
}

.spiral {
  font-size: 40px;
  animation: spin 1.5s linear infinite;
  margin-bottom: 10px;
}

/* rotates clockwise indefinitely */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* visibility hidden means the item is still there and taking up space
   but just not shown. display: none doesn't take up space */
.info-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.show {
  visibility: visible;
}

/* winner animation */
.winner {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.greenRule {
  color: darkgreen;
}
.yellowRule {
  color: goldenrod;
}
.redRule {
  color: maroon;
}
.rules {
  color: rgb(108, 111, 110);
  font-family: "IBM Plex Mono", monospace;
  margin-left: 15px;
  width: 35%;
}
.rules-title {
  font-family: honk;
  font-size: 50px;
}

.hf-title {
  font-family: honk;
  font-size: 50px;
}
@media (max-width: 850px) {
  body {
    flex-direction: column;
  }
  .game {
    width: 100% !important;
  }
  .rules {
    width: 100% !important;
  }
}

#splashScreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 9999;
  align-items: center;
}

#splashScreen h3 {
  font-size: 3rem;
  padding: 60px;
  background-color: #111111;
  text-align: center;
  font-family: honk;
  width: 100%;
}
